* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0;
    background: url(images/background_1.png) no-repeat center center;
    background-size: cover;
}

body > * {
    font-size: 1rem;
}

#game_body {
    background-color: rgba(255, 224, 32, 0.8);
    padding: 2vmin 0 2vmin 4vmin;
    margin: 2vmin 0 2vmin 3vmin;
    height: 70vmin;
    width: 80vmin;
}

.coin_slot {
    display: inline-block;
    background-image: url("images/question_mark_cropped.png");
    background-size: 105%;
    height: 90%;
    width: 13%;
    margin: 0 1vmin;
    box-shadow: 7px 7px 5px #888888;
}

.row {
    height: 19%;
}

.row.header {
    height: 20vmin;
}

h1, h2 {
    color: rgba(255, 53, 52, 1);
}

h1 {
    font-size: 8vmin;
}

h2 {
    font-size: 5vmin;
}
.row.zero {
    padding: 0 0 0 3vmin;
    margin: 0 2vmin 0 2vmin;
    width: 80vmin;
    height: 10vmin;
}
.column{
    background-image: url("images/Warp_pipe_edited.png");

}

/* change player text color */

.player h2 {
  color: black;
}

.active_player {
  color: red !important;
}

/* Font for Super Mario theme.*/
@font-face {
    font-family: 'mario_font';
    src: url('images/Fonts/SuperMario256.ttf')
}

.player img{
    height: 25vmin;
}

span, h1, h2{
font-family: mario_font;
}
 h1 .red{
    color: red;
}
 h1 .blue{
     color: blue;
 }
 h1 .green{
     color: green;
 }
 h1 .yellow{
     color: yellow;
 }


.player1_token{
  background-image: url('images/mario_8bit1.png');
  background-color: #6ce6fb;
}

.player2_token {
  background-image: url('images/bowser_8bit.png');
  background-color: black;
}




/*https://github.com/darin-estrin/C1.17_connect/blob/darin/main.js*/
